<!DOCTYPE html>
<html ng-app>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


  <!-----Incluir angular JS-->
  <script src="js/lib/angular.min.js"></script>


  <!--------Incluir Bootstrap-->
  <link rel="stylesheet" href="css/bootstrap.min.css">

  <title>AngularJS</title>
</head>

<body>
  <div class="container">
    <h1>Filtros :: Filters</h1>
    <h4>En angularjs</h4>
    <p>
      Seleccione el pais : {{ pais }}
      <select class="form-control" ng-model="pais">
        <option value="1">Costa rica</option>
        <option value="2">Mexico</option>
        <option value="3">Colombia</option>
      </select>
    </p>
    <p>
      Seleccione una opciones que desea: {{  }}
      <input type="checkbox" ng-model="opt1"> Opcion 1
      <input type="checkbox" ng-model="opt2"> Opcion 2
    </p>
  </div>
</body>

</html>